.btn-dinesh {
  	color: #fff;
  	background-color:#676767;
  	border-color: #2e6da4;
}
.btn-dinesh:hover{
	color: #fff !important;
  	background-color:#000 ;
}

.btn-dinesh:active{
	color: #fff !important;
}
header.navbar.navbar-inverse{
	margin-bottom: 0px;
}
.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
	border-radius: 5px;
	margin: 0 4px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
	border-radius: 5px;
    background-color: black;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


		

